<%= turbo_frame_tag dom_id(@challenge_day) do %>
  <div class="challenge-day-card challenge-day-card--complete card mb-2">
    <div class="card-body">
      <%= tag.p @challenge_day.date.strftime("%B %d"), class: "h4" %>
      image_preview
    </div>
  </div>
<% end %>
